body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.wrapper {
  position: relative;
  min-height: 100vh;
  border: 1px solid #000;
}

.wrapper::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 90%;
  height: 90%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: red;
}

.legends {
  background: url("../img/game-1/bg_game_1.jpg") center/cover no-repeat;
  height: calc(100vh - 142px);
}

.legends__wrapper {
  height: calc(100vh - 270px);
  overflow: hidden;
  width: 50vw;
}

@media (max-width: 950px) {
  .legends__wrapper {
    height: calc(100vh - 200px);
  }
}

@media (max-height: 415px) {
  .legends__wrapper {
    height: calc(100vh - 190px);
  }
}

@media (max-height: 400px) {
  .legends__wrapper {
    height: calc(100vh - 185px);
  }
}

@media (max-height: 380px) {
  .legends__wrapper {
    height: calc(100vh - 200px);
  }
}

@media (max-height: 370px) {
  .legends__wrapper {
    height: calc(100vh - 175px);
  }
}

.legends__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (min-width: 1200px) {
  .legends__box {
    gap: 22px;
  }
}

.legends__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 25%;
          flex: 0 1 25%;
  overflow: hidden;
}

.legends__column-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 14px;
}

.legends__item {
  padding-bottom: 10px;
}

.legends__item img {
  max-width: 100%;
}

@media (max-width: 1200px) {
  .legends__item img {
    max-width: 90%;
  }
}

@media (max-width: 1000px) {
  .legends__item img {
    max-width: 70%;
  }
}

.button-spin {
  height: 30px;
  width: 50px;
}

.image {
  height: 100px;
}

.container {
  height: calc(100vh - 100px);
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container_brown {
  background-color: #77608d;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 44vw;
  height: 98%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  padding: 8px 0;
  border: 1px solid #000;
  gap: 20px;
}

.column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 20%;
          flex: 0 1 20%;
}

.image {
  padding-bottom: 20px;
}

.image img {
  max-width: 100%;
}
